<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>
<ul>
  <% @orders.each do |order| %>
  <li>
   <p><b>Vehicle: </b><%= order.vehicle.make %></p>
   <p><b>Person: </b><%= order.person.firstName %></p>
  </li>
  <% end %>
</ul>

